// 引入 reset.scss 解决浏览器兼容问题
@import "./config-reset.scss";
// 引入原子类样式
@import "./config-atom.scss";

#app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.vue-drr-box {
  transition: transform .3s ease-out;
  border: none !important;
  box-shadow: 1px 1px 4px 1px #cccccc77,-1px -1px 4px 1px #cccccc77;
}

.vue-drr-box.dragging,
.vue-drr-box.resizing {
  transition: none;
}

.desktop-background {
  background-color: #038288;
}

.desktop-shortcut {
  position: absolute;
  left: 4px;
  top: 0;
  width: 74px;
  display: flex;
  flex-direction: column;

  .shortcut-icon {
    width: 74px;
    margin-top: 16px;
    padding-top: 16px;

    &:hover,
    &:active {
      box-shadow: 0 0 1px 2px #58acb5;
      background-color: #1f909c;
    }
  }
}

.shortcut-icon {
  .icon-image {
    width: 100%;
  }

  .icon-text {
    color: #f1f1f1;
    font-size: 13px;
    text-align: center;
  }
}